<div class="app-container">
  <h1>Mes repas</h1>

  <!-- BOUTON OUVRIR FORM -->
  @if (!showForm) {
    <button (click)="openForm()">Ajouter un plat</button>
  }

  <hr />

  <!-- FORMULAIRE -->
  @if (showForm) {
    <div style="margin-bottom: 20px">
      <input type="text" [(ngModel)]="name" placeholder="Nom du repas" name="name" />
      <div class="error">
        {{ errors.name }}
      </div>

      <input type="text" [(ngModel)]="category" placeholder="Catégorie" name="category" />
      <div class="error">
        {{ errors.category }}
      </div>

      <div class="form-actions">
        <button (click)="addMeal()">Ajouter</button>

        <button (click)="closeForm()">Fermer</button>
      </div>
    </div>

    <hr />
  }

  <!-- LISTE -->
  @for (meal of meals; track meal.id) {
    <div class="meal-card">
      <div>
        <strong>{{ meal.name }}</strong
        ><br />
        <small>{{ meal.category }}</small>
      </div>

      <button (click)="deleteMeal(meal.id)">Supprimer</button>
    </div>
  }
</div>
